.reveal section img {
  border: unset;
  box-shadow: unset;
}

/*body {
    background-image: url('../images/novartis-logo.pdf');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 15%;
}*/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  line-height: 1.0;
  word-wrap: break-word; }

  /* Ensure certain elements are never larger than the slide itself */
  .reveal img,
  .reveal video,
  .reveal iframe {
    max-height: 70%; }

.footer {
  position:absolute;
  bottom: 0%;
  left: 2%;
}

.footer p {
    font-size: 20px;
}
